@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  .text-gray{
   color: #424242; 
  }
.text-light{
    color: #727272;
}
.bg-light{
    background-color: rgb(255, 144, 14, 0.1);
}

.text-primary{
    color: #ff900e;
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}
.section-title{
    font-size: 2.5rem;
    font-weight: 700;
    width: 430px;
}

main{
    max-width: 1380px;
    margin: 0 auto;
}
main>section{
    margin-top: 126px;
}
  /* header styles */

  /* navbar related Styles*/
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .brand{
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 30px;
  }

  .nav-link{
    text-decoration: none;
    font-weight: 500px;
    
  }
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.navbar, .banner{
    max-width: 1360px;
    margin: 0 auto;
}
/* Banner related styles */

.banner-content{
    max-width: 820px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 600;
    font-size: 3.5rem;
}
.banner-image{
    width: 100%;
}

/* team and feature styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 126px;
    max-width: 520px;
}
#quick-list{
    font-weight: 500;
}
/* some fact related */

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact{
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.fact-des{
    max-width: 540px;
}
/* Sponsor section */
.sponsor-info{
    max-width: 520px;
    margin: 50px auto;
    text-align: center;
}
.companies{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
}

/* Responsive media query */

@media screen and (max-width: 576px) {
    .navbar, .teams{
        flex-direction: column;
    }
    .team-img-container, .fact-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 30px;
        width: 400px;
    }
    .fact-container{
        justify-items: center;
        gap: 20px;
    }
}
/* medium */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin:20px 50px;
    }
}